Flask==1.1.1
Click==7.0
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.6
json2table==1.1.5
jsonify==0.5
jsonschema==3.2.0
Markdown==3.3.4
MarkupSafe==1.1.1
npm==0.1.1
requests==2.25.1
virtualenv==20.4.6
