<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Meta tags-->
    <meta name="author" content="Akhilesh Thite" />
    <meta property="og:title" content="COVID-19 Vaccine Finder Search Feedback Page" />
    <meta property="og:description" content="COVID-19 Vaccine Finder website to check the available slots for COVID-19 Vaccination Centers from coWIN API in India. With this website, you'll quickly be able to register for vaccines by checking the most updated information from coWIN API like center, fee, availability of both dose 1 and dose 2, age limit, vaccine type, and time slots." />
    <meta name="keywords" content="covid-19 vaccine finder, COVID-19 vaccine slot Finder, Vaccine slot tracker India, Vaccine slot tracker India, covid 19 vaccine registration, CoWIN vaccine registration, www.cowin.gov.in self registration, Vaccine registration India, COVID vaccine registration website" />
    <meta property="og:url" content="https://github.com/AkhileshThite/COVID-19-VaccineFinder" />
    <link rel="shortcut icon" type="image/png" href="static/images/favicon.png" />
    <link rel="stylesheet" href="static/style.css" />
    <title>Feedback</title>
</head>
<body>
    <!--Google forms-->
    <p style="text-align: center;"><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc0iVCPCSMsHGiRrvxR4oFZgUieCX8cUlgw6jSGivfr9jTOsw/viewform?embedded=true" width="100%" height="700px" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe></p>
</body>
</html>
